<tr>
    <td class="mQuery" colspan="3">
        <div class="fq-control">
            <input type="text" class="fq-query form-control fQuery" placeholder="请输入物料名称、编号、首字母">
        </div>
    </td>
    <td class="col-4 total"></td>
    <td class="col-5">
    	<input type="text" class="mount" name="mount[]">
    	<input type="hidden" class="id" name="id[]">

        <input type="hidden" class="price" name="price[]">
        <input type="hidden" class="firstCategory" name="firstCategory[]">
        <input type="hidden" class="unitName" name="unitName[]">
        <input type="hidden" class="label" name="label[]">
    </td>
    <td class="col-6 unitName"></td>
    <td class="col-61 tdotherunit"></td>
    <td class="col-7"><button type="button" class="btn btn-default del">删除</button></td>   
</tr>