@charset 'utf-8';

.cpx-createpurchase-box .cpx-box-header .subApprove{
	float: right;
  border-top-right-radius: 5px;
}
.cpx-createpurchase-box .cpx-box-header .select-control{
  float: right;
  width: 110px;
  height: 25px;
  margin-top: 5px;
  margin-right: 20px;
}
.cpx-createpurchase-box .approve-search-form .form-group {
    margin-right: 15px;
}
.cpx-createpurchase-box .approve-person-select ul{
	width: 110px;
}
.cpx-createpurchase-box .purMsg{
	width: 700px;
	height: 100px;
	border-radius: 5px;
	line-height: 22px;
	padding: 5px;
	background: #5a6874;
  border-color: #5a6874;
  color: #c8def0;
}
.cpx-createpurchase-box .purMsg:hover,
.cpx-createpurchase-box .purMsg:focus{
	border-color: #5a6874;	
}
.cpx-createpurchase-box .cpx-search-form{
	padding-bottom: 0px;
}

.cpx-createpurchase-box .table-bordered > tbody > tr > td{
	padding: 10px 5px;
}
.cpx-createpurchase-box table td .mount{
	width: 60px;
  height: 25px;
  text-align: center;
  border: 0;
}
.cpx-createpurchase-box .fq-control{
	position: relative;
}
.cpx-createpurchase-box table tr .fq-query{
	height: 25px;
	padding: 0 10px;
	font-size: 12px;
}
.cpx-createpurchase-box .form-control::-moz-placeholder {
  color: #999999;
  opacity: 1;
  font-size: 12px;
}
.cpx-createpurchase-box .form-control:-ms-input-placeholder {
  color: #999999;
  font-size: 12px;
}
.cpx-createpurchase-box .form-control::-webkit-input-placeholder {
  color: #999999;
  font-size: 12px;
}
.cpx-createpurchase-box .autocompleter{
	top: 25px;
}
.cpx-createpurchase-box .autocompleter-hint{
  top: -25px;
  padding: 0 12px;
  font-size: 12px;
  height: 25px;
  line-height: 25px;
}
.cpx-createpurchase-box .autocompleter-item {
  padding: 5px 12px;
  font-size: 12px;
}
.cpx-createpurchase-box .addPurDes{
  float: right;
  margin-top: -5px;
  margin-bottom: 15px;
  width: 110px;
}
.cpx-createpurchase-box .addPurDes:hover,
.cpx-createpurchase-box .addPurDes:focus{
  background: #528bee;
  border-color: #528bee;
}

.cpx-createpurchase-box .table tbody td.col-1,
.cpx-createpurchase-box .table thead td.col-1{
  width: 80px;
}
.cpx-createpurchase-box .table tbody td.col-2,
.cpx-createpurchase-box .table thead td.col-2{
  width: 130px;   
}
.cpx-createpurchase-box .table tbody td.col-3,
.cpx-createpurchase-box .table thead td.col-3{
  width: 150px;   
}
.cpx-createpurchase-box .table tbody td.col-4,
.cpx-createpurchase-box .table thead td.col-4{
  width: 85px;   
}
.cpx-createpurchase-box .table tbody td.col-5,
.cpx-createpurchase-box .table thead td.col-5{
  width: 90px;   
}
.cpx-createpurchase-box .table tbody td.col-6,
.cpx-createpurchase-box .table thead td.col-6{
  width: 75px;   
}
.cpx-createpurchase-box .table tbody td.col-61,
.cpx-createpurchase-box .table thead td.col-61{
  width: 110px;   
}
.cpx-createpurchase-box .table tbody td.col-7,
.cpx-createpurchase-box .table thead td.col-7{
  width: 110px;   
}


td.tdotherunit .otherunit .otherSurplus{
  width: 60px;
  height: 25px;
  text-align: center;
  border: 0;   
}
td.tdotherunit .otherunit span{
  margin-left: 5px;
}
td.col-5 input[readonly],
td.tdotherunit .otherunit input[readonly]{
  background: #eee;
  border: 1px solid #ccc !important;
}











