@charset 'utf-8';

.cpx-form .control-group .controls span{
	color: #fff;
}
.cpx-podetail-box .cpx-box-header .revocation{
	float: right;
	border-top-right-radius: 4px; 
}
.cpx-podetail-box .cpx-box-header .cpPurOrder{
	float: right;
	margin-right: 15px;
}
.cpx-podetail-box .cpx-box-header .rejectbtn{
	width: 110px;
	float: left;
}
.cpx-podetail-box .cpx-form .control-group{
	width: 32.5%;
}
.cpx-podetail-box .cpx-search-form{
	padding-bottom: 5px;
}
.cpx-podetail-box .table-bordered > tbody > tr > td{
	padding: 9px 5px;
}
.purAppro .cpx-box-header{
	border-radius: 0;
    background: #dee3eb;
    padding-left: 20px;
    font-size: 14px;
    color: #475057;
}